@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  html,
  body {
    font-size: 12px;
  }
}

@font-face {
  font-family: mandalore3d;
  src: url('/fonts/mandalore/mandalore3d.ttf');
}

@font-face {
  font-family: mandalorecond;
  src: url('/fonts/mandalore/mandalorecond.ttf');
}

@font-face {
  font-family: mandaloretitle;
  src: url('/fonts/mandalore/mandaloretitle.ttf');
}

@font-face {
  font-family: mandalorehalf;
  src: url('/fonts/mandalore/mandalorehalf.ttf');
}

.mandalorehalf {
  font-family: mandalorehalf;
}

.mandalore3d {
  font-family: mandalore3d;
}

.mandalorecond {
  font-family: mandalorecond;
}

.mandaloretitle {
  font-family: mandaloretitle;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.text-stroke {
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #e1e1e1;
}
.tamtam {
  background-color: #19191918;
  --all: 0px;
  --b: #7a7a7a;
  display: inline-block;
  border: var(--weight) solid var(--b);
  background: linear-gradient(45deg, var(--b) 0 calc(var(--bottom-left, var(--all)) + var(--weight)), transparent 0) bottom left / 50% 50%,
    linear-gradient(-45deg, var(--b) 0 calc(var(--bottom-right, var(--all)) + var(--weight)), transparent 0) bottom right/50% 50%,
    linear-gradient(135deg, var(--b) 0 calc(var(--top-left, var(--all)) + var(--weight)), transparent 0) top left / 50% 50%,
    linear-gradient(-135deg, var(--b) 0 calc(var(--top-right, var(--all)) + var(--weight)), transparent 0) top right / 50% 50%, var(--img, #19191918);
  background-origin: border-box;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(45deg, transparent 0 var(--bottom-left, var(--all)), #fff 0) bottom left,
    linear-gradient(-45deg, transparent 0 var(--bottom-right, var(--all)), #fff 0) bottom right,
    linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0) top left,
    linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0) top right;
  -webkit-mask-size: 50.5% 50.5%;
  -webkit-mask-repeat: no-repeat;
}

.drop {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  background-color: #fff;
}

.overlay {
  background: transparent linear-gradient(180deg, #060a0d 0%, #14161800 100%) 0% 0% no-repeat padding-box;
}
.overlay-bottom {
  background: transparent linear-gradient(0deg, #242424 0%, #24242400 100%) 0% 0% no-repeat padding-box;
}
.right-generation {
  background: transparent linear-gradient(270deg, #ff6d00 0%, #80370000 100%) 0% 0% no-repeat padding-box;
}

.shadow-bold{
  box-shadow: 0px 16px 14px #00000070;
}
.overlay-roadmap{
  background: transparent linear-gradient(0deg, #242424 0%, #24242400 100%) 0% 0% no-repeat padding-box;
}