@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro:ital@1&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: RubikGlitch;
  src: url("/fonts/rubikglitch/RubikGlitch-Regular.ttf");
}
@font-face {
  font-family: Grandstander;
  src: url("/fonts/grandstander/Grandstander-clean.ttf");
}
@font-face {
  font-family: Pinkchicken;
  src: url("/fonts/pinkchicken/PinkChicken-Regular.ttf");
}

.bubikglitch {
  font-family: RubikGlitch;
}

@layer components {
  .menu-active {
    @apply text-2xl-s my-7 leading-snug;
    color: #efcb5a;
  }
  .title {
    @apply bubikglitch text-7xl leading-[100px];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .text-xl-s {
    @apply text-xl;
    font-family: RubikGlitch;
  }
  .text-3xl-s {
    @apply text-3xl;
    font-family: RubikGlitch;
  }
  .text-2xl-s {
    @apply text-2xl bubikglitch;
    font-family: RubikGlitch;
  }

  .heading-1 {
  }
  .heading-2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  .heading-6 {
    @apply font-semibold;
    font-size: 20px;
    line-height: 30px;
  }
  .body-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
  }
}

.text-gradient-oranger {
  background: linear-gradient(180deg, #ff9e00 0%, #ff6d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.bg-gradient-oranger {
  background: linear-gradient(180deg, #ff9e00 0%, #ff6d00 100%);
  border-radius: 18px;
}

.text-gray {
  color: #fafafa;
}

.grandstander {
  font-family: Grandstander;
}

.pinkchicken {
  font-family: Pinkchicken;
}

.border-left-active {
  border-right: 4px solid #e9bf50;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* font-family: Grandstander, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, */
  /* sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 1700px) {
}
@media only screen and (min-width: 1366px) {
  .heading-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .heading-2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
  }
}

@media only screen and (min-width: 1920px) {
  .heading-2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }
  .body-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

.wrap-button-left:hover {
  filter: drop-shadow(0px 0px 10px #e9bf50);
}
.wrap-button-right:hover {
  filter: drop-shadow(0px 0px 10px #373737);
}

.button-tab-left {
  font-family: Grandstander;
  background: #e9bf50 0% 0% no-repeat padding-box;
  padding: 10px 20px 6px 20px;
  font-size: 1.2rem;
  width: 15rem;
  height: 3.75rem;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 3% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0.5rem);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #432806;
}
.button-tab-right {
  font-family: Grandstander;
  background: #373737;
  padding: 10px 20px 6px 20px;
  font-size: 1.2rem;
  width: 15rem;
  height: 3.75rem;
  clip-path: polygon(0 0, 100% 3%, 97% 100%, 10% 100%);
  transform: translateX(-0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #8a8a8e;
}

.button-tab-left:hover {
  box-shadow: 2px 2px 5px #e9bf50;
  transform: translate3d(0, -5px, 0) scale(1.05);
}
.button-tab-right:hover {
  box-shadow: 2px 2px 5px #e9bf50;
  transform: translate3d(0, -5px, 0) scale(1.05);
}

.list-roadmap {
  padding-left: 4rem;
}
.list-roadmap li {
  position: relative;
}

.list-roadmap li::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  right: 100%;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  margin-right: 1rem;
  /* transform: translateY(-50%); */
  border: 1px solid whitesmoke;
}

.list-roadmap li.active::before {
  background-color: #6aff08;
  border: none;
}
.roadmap-bg-linear {
  background: linear-gradient(106.68deg, rgba(204, 56, 208, 0.8) 3.29%, rgba(255, 109, 0, 0.4) 81.36%);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* filter: blur(4px); */
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 16px;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}
.roadmap-bg-linear span.number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  display: flex;
  justify-items: center;
}
.roadmap-bg-linear span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
