@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  html,
  body {
    font-size: 12px;
  }
}

@font-face {
  font-family: mandalore3d;
  src: url('/fonts/mandalore/mandalore3d.ttf');
}

@font-face {
  font-family: mandalorecond;
  src: url('/fonts/mandalore/mandalorecond.ttf');
}

@font-face {
  font-family: mandaloretitle;
  src: url('/fonts/mandalore/mandaloretitle.ttf');
}

.mandalore3d {
  font-family: mandalore3d;
}

.mandalorecond {
  font-family: mandalorecond;
}

.mandaloretitle {
  font-family: mandaloretitle;
}
